.friendContact {
    background-color: rgb(207, 22, 145);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    }
    .familyContact {
    background-color: rgb(52, 81, 224);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    }
    .workContact {
    background-color: rgb(139, 35, 43);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    }